body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #233329;
  height: 6rem;
}


#logo {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}

img {
  height: 160px;
  width: 280px;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #69FFF1;
  font-weight: bold;
  font-style: italic;
}

#main-text-box{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
}

 #home-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}


#issue, #impacts, #solution{
  display:block;
  margin: auto;
}
#card {
  max-width: 775px; 
  height:auto;
}

#about-area{
  font-family: 'Montserrat', sans-serif;
}

#about-area-div {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

#about-img{
  height:550px;
  width:550px;
}

#about-text-div{
  width:700px;
}

#about-text{
  font-size: 1.6em;
}

#be {
  font-size: 4em;
  margin: 0;
}

#about-header{
  margin-top:5rem;
  font-weight:700;
  font-size: 5rem;
}

#graphics-header{
  width:900px;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

#graphics-div{
  display: flex;
  justify-content: space-around;
}
#wrapper{
  display: flex;
  justify-content: center;
}

#how-to-header{
  font-family:'Montserrat', sans-serif ;
  text-align:center ;
}
#graphic{
  width:600px;
  height:600px;
}

#events-header{
  font-size: 5rem;
  text-align: center;
}

#events-form-header{
  text-align: center;
}

Form {
  width: 500px;
  background-color: #63D471;
  border-radius: 8%;
}

Label{
  font-family: 'Frank Ruhl Libre', serif;
font-family: 'Montserrat', sans-serif;
}